ParserWarnLevel 3

DefaultContents XML
# Può essere che libxml2 non converta correttamente certi
# caratteri; in tal caso usare XML.

# Per tradurre caratteri strani in ascii semplice usare la
# direttiva sotto. E' possibile pure specificare i caratteri
# a mano. Le entità HTML vengono automaticamente convertite.
TranslateCharacters :ascii7:

# If you wish to follow symbolic links use the following.
# Note that the default is "no".  I you are indexing many
# files, and you do not have any symbolic links, you may
# still want to set this to "yes".  This will avoid an extra
# lstat system call for every file while indexing.
# Con il metodo "prog" non va specificato.

#FollowSymLinks yes

#Define META tags
MetaNames dc:identifier identifier dc:title dc:description dc:publisher dc:creator  dc:subject dc:date datestamp dc:type dc:source

# I risultati da riportare
PropertyNames dc:identifier dc:title dc:description dc:publisher dc:creator  dc:subject dc:date dc:type dc:source 

PropertyNameAlias dc:identifier identifier
PropertyNameAlias dc:date datestamp

PropertyNamesMaxLength 132 dc:description
PropertyNamesCompareCase identifier dc:identifier

# PropertyNamesDate datestamp
# la data dei documenti xml non è in formato timestamp!
PreSortedIndex dc:title dc:date dc:subject
