IncludeConfigFile  Index.config

IndexName ittigWeb
IndexDescription "Indice di pagine web di dottrina giuridica"
IndexAdmin "Lorenzo Iannuzzi <iannuzzi@integrainformatica.it>"

IndexFile ../web.index

# Limiti sulle parole da indicizzare
MinWordLimit 3
IgnoreWords File: ../../MetadataGenerator/exmeta/stopwords.txt

# Metodo "prog": l'input di Swish-e è l'output del programma
IndexDir ../../MetadataGenerator/exmeta/metadataGenerator

SwishProgParameters /home/tonix/Desktop/test/ServiceProvider/Mirrors

