IncludeConfigFile Index.config

IndexName ittigOai
IndexDescription "Indice dei record estratti in formato Oai"
IndexAdmin "Lorenzo Iannuzzi <iannuzzi@integrainformatica.it>"

#Percorso e nome dell'indice che verrà creato
IndexFile ../docs.index

# Devo indicizzare gli xml derivati dall'OaiDataProvider: cambiare qui sotto

IndexDir /home/tonix/Desktop/ServiceProvider/XMLRecords
IndexOnly .xml

